.logo {
  display: flex;
  align-items: center;
  width: 10%;
  cursor: pointer;
  color: var(--header-logo-color);

  .firstLetter {
    font-family: Script MT Bold;
    font-size: 55px;
    font-weight: 700;
    user-select: none;
  }

  .secondLetter {
    font-family: Script MT Bold;
    font-size: 30px;
    font-weight: 700;
    line-height: 15px;
    user-select: none;

  }

  .thirdLetter {
    font-family: $font-varEn2;
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
    user-select: none;
  }
}
