.contact {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transition: all .6s ease;



  svg {
    path {
      stroke:var(--header-address-color);
      transition: all .6s ease;
    }
  }
  &:hover {
    transition: all .6s ease;
    border-bottom: 1px solid #E4A853;

    a {
      color: #E4A853;
      transition: all .6s ease;
    }

    svg {
      path {
        stroke: #E4A853;
        transition: all .6s ease;
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--header-address-color);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.36px;
    margin-left: 5px;
  }
}
