h1{
  font-family: var(--home-main-title-font);
  font-style:var(--home-main-title-style) ;
  font-weight: var(--home-main-title-weight);
  font-size: 65px;
  line-height: 74px;
  letter-spacing: 2px;
  color: var(--title-color);
  text-align: center;
}
