.calculateBlock {
  width: 100%;
  padding:0 15px 40px;
  border-bottom: 1px solid rgba(98, 98, 98, 1);;

  .visitors__container {
    width: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 30px 0 rgba(125, 125, 125, 0.25);

    svg{
      fill: #3C2100;
    }
  }

  .range_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;

    .range_title {
      cursor: pointer;
      color: var(--input-title-color);
    }
  }
}


