
.news__sections {
  background-color: var(--home-news-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 20px;

  .title {
    font-family: var(--home-main-title-font);
    font-style: var(--home-main-title-style);
    font-weight: var(--home-main-title-weight);
    font-size: 65px;
    line-height: 58px;
    letter-spacing: 0.045em;
    color: var(--home-news-title-color);
    margin-bottom: 40px;
  }

  .control__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.62);
    border-radius: 50%;
    border: 1px solid whitesmoke;


    svg {
      width: 15px;
      height: 15px;

      path {
        fill: white;
      }

    }
  }

}
