.book__status_box {
  background-color: var(--book-confirm-bg);


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title__box {
    display: flex;

    h2 {
      font-family: var(--home-main-title-font);
      font-weight: var(--home-main-title-weight);
      font-style: var(--home-main-title-style);
      font-size: 65px;
      letter-spacing: 0.08em;
      text-align: center;
      color: var(--title-color);
    }

    padding: 50px 0;
  }

  .image__box {
    width: 100%;
    overflow: hidden;
    display: flex;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

}
