#services {
  width: 100%;
  background: var(--services-bg-color);

  .serviceBlock {
    padding: 80px 0;
    width: 100%;
    position: relative;

    .serviceMain{
      min-height: 300px;
    }

    .arrow{
      position: absolute;
      left: 33px;
      font-size: 75px;
      cursor: pointer;
      color: var(--header-logo-color);
    }
  }

  .serviceMain {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .slider-container{
      width: 100%;
      cursor: pointer;

      &:active{
        cursor: grabbing;
      }
    }
  }
}
