.about__box {
  .figure__box {
    width: 100%;
    height: 445px;

    figure {
      width: 100%;
      height: 300px;
    }
  }

  .title__box {
    width: 100%;

    p {
      font-size: 20px;
      line-height: 45px;
    }
  }
}

.provides__section {

  .provide__card {
    width: 265px;
    margin: 10px;
  }
}


//SERVICES

.serviceMain {
  padding: 0 20px;

  .servicesCard {
    width: calc(100% / 3 - 25px);
  }
}

//WORKERS

.workersCard {
  padding: 22px;

  p {
    font-size: 16px !important;
  }

  .titleBlock {
    h4 {
      font-size: 20px !important;
    }


  }
}


//NOT_FOUND
#not_found {

  .images {

    &:first-child {
      width: 170px;
      height: 220px;
    }

    &:nth-child(2) {
      width: 260px;
      height: 150px;
    }

    &:nth-child(3) {
      width: 230px;
      height: 160px;
    }

    &:nth-child(4) {
      width: 160px;
      height: 190px;
    }

    &:nth-child(5) {
      width: 250px;
      height: 150px;
    }

    &:nth-child(6) {
      width: 200px;
      height: 150px;
    }
  }
}


//FOOTER

#footer {

  .navbar {
    width: 100%;
  }

  .nav {
    flex-direction: column;
    align-items: center;

    .nav_block:nth-child(2) {
      width: 90%;
      margin-top: 40px;
    }
  }
}


// book page start ----------------
.book__section {
  flex-direction: column;
  align-items: center;

  & > .title__box {
    width: 100%;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
    }
  }

  .forms__container {
    width: 100%;
  }
}

// book confirm  start ---------------------
.book__confirm_section {
  .reserving__data {
    flex-direction: column;
    align-items: flex-start;
  }

  .confirm__preview_date, .preview__confirm_visitors, {
    margin-bottom: 15px;
  }
}

// book confirm  end -----------------------


// book page end ------------------


.places__page {
  .places__card {
    height: 450px;
  }
}
