// SERVICES

#services {

  .servicesCard {
    width: 100%;
  }

  .workersCard {
    width: 85%;

    .titleBlock {
      p {
        font-size: 16px !important;
      }
    }

    .textBlock {
      .icon {
        margin-right: 20px !important;
      }

    }
  }
}

//FOODS
#food {
  .foodContent {

    .title {
      font-size: 30px;
    }

    .slider-container .slider-frame .slide {
      transform: scale(0.8);

      .recipeBtn {
        transform: none;
      }

      &.slide-current {
        transform: scale(1);
      }
    }

    .bottom_block {
      width: 100%;

      #block {
        padding: 20px 0;

        .item_name .name {
          font-size: 16px;
        }

        .item_info {
          font-size: 14px;
        }
      }
    }
  }
}


//FOOTER

#footer {

  .content {
    padding: 0 20px;
    display: block;
  }

  .navbar ul {
    flex-direction: column;
    align-items: start;

    li {
      margin: 5px 0;
    }
  }

  .nav {

    align-items: start;
    width: 100%;

    .nav_block {

      &:first-child {
        align-items: start;

        .nav_list:last-child {
          font-size: 25px;
        }
      }

      &:nth-child(2) {
        width: 100%;
        justify-content: space-between;
        margin-top: 25px;

        .nav_list {
          margin: 0;
        }
      }

      img {
        width: 31px;
      }
    }


  }
}


h1 {
  font-size: 30px;
}

.provides__section {

  .provide__card {
    width: 146px;
    margin: 10px;
  }
}
