// SERVICES
#services {

  .servicesCard {
    width: 100%;
  }

  .workersCard {
    width: 85%;

    .titleBlock {
      p {
        font-size: 16px !important;
      }
    }

    .textBlock {
      .icon {
        margin-right: 20px !important;
      }

    }
  }
}

//FOODS
#food {
  .foodContent {

    .title {
      font-size: 30px;
    }

    .foodCard {
      height: 330px;
    }

    .slider-container .slider-frame .slide {
      transform: scale(0.9);

      .recipeBtn {
        transform: none;
        padding: 7px 25px
      }

      &.slide-current {
        transform: scale(1);
      }
    }

    .bottom_block {
      width: 100%;

      #block {
        padding: 20px 0;

        .item_name .name {
          font-size: 16px;
        }

        .item_info {
          font-size: 14px;
        }
      }
    }
  }
}


//NOT_FOUND
#not_found {
  .text_block {

    .title {
      font-size: 100px;
      line-height: 65px;
    }

    .text {
      font-size: 28px;
      line-height: 80px;
    }

  }
}


//FOOTER
#footer {

  .content {
    padding: 0 20px;
    display: block;
  }

  .navbar ul {
    flex-direction: column;
    align-items: flex-start;

    li {
      margin: 5px 0;
    }
  }

  .nav {

    align-items: flex-start;
    width: 100%;

    .nav_block {

      &:first-child {
        align-items: flex-start;

        .nav_list:last-child {
          font-size: 25px;
        }
      }

      &:nth-child(2) {
        width: 100%;
        justify-content: space-between;
        margin-top: 25px;

        .nav_list {
          margin: 0;
        }
      }

      img {
        width: 31px;
      }
    }


  }
}


h1 {
  font-size: 30px;
}

.provides__section {

  .provide__card {
    width: 146px;
    margin: 10px;
  }
}

//book start

// book start -------------
.book__section {
  padding: 20px;

  & > .title__box {
    margin: 25px 0;

    h2 {
      font-size: 55px;
    }
  }


  .forms__container {
    width: 100%;
    padding: 15px;
  }

  .write__info_box {
    flex-direction: column;
    align-items: center;


    .arrival__visitors__box {
      width: 100%;
      z-index: 120;
    }

    .currency__dropdown {
      margin-top: 10px;
    }
  }


  .partial__pay_box {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;

    .partial__pay_button {
      width: 100%;

    }

    .partial__pay_range {
      width: 100%;
      margin-top: 25px;
    }

    .currency__dropdown {
      margin-top: 25px;
      z-index: 999;
    }
  }

  .pay__with_box {
    margin: 15px 0;

    .title__box {
      p {
        font-size: 35px;
      }
    }
  }

  .card__form_box {
    justify-content: center;

    .form__input_box {
      margin-bottom: 5px;
    }

    .expiration__input {
      width: 100%;
    }

    .cvv__input {
      width: 100%;
    }

    .send__button {

      padding: 15px 40px 15px 40px;
    }
  }

}

// book end ---------------
//book confirm start
.book__confirm_section {
  .confirm__info_container {
    width: 95%;
  }
}


//book confirm end

.places__page {
  .title__box {
    h1 {
      font-size: 45px;
    }
  }

  .items__box {
    .places__card {
      width: calc(100%);
      height: 500px;
      margin-bottom: 40px;
    }

  }


}


.book__status_box {
  .title__box {
    h2 {
      font-size: 40px;
    }
  }
}
