.slider__content {
  .slider__title {
    font-size: 55px;
    margin: 15px;
  }
}

// SERVICES

#services {

  .workersCard {
    width: 100%;
    margin: 0 10px;

    .titleBlock {
      h4 {
        font-size: 17px !important;
      }

      p {
        font-size: 14px !important;
      }
    }

    .icon {
      margin-right: 13px !important;
    }
  }

  .cardTitle {
    font-size: 30px !important;
  }
}


//FOOTER

#footer {

  .navbar {
    margin: 35px 0;
  }

  .nav .nav_block:nth-child(1) {
    flex-direction: column;

    & .nav_list:nth-child(2) {
      margin: 10px 0;
    }

    & .nav_list:last-child {
      font-size: 20px;

      svg {
        width: 18px;
      }
    }
  }
}


h1 {
  font-size: 55px;
}


.last__section {


  &_figcaption {

    width: 90%;

    h3 {

      font-size: 45px;
      line-height: 73px;
      letter-spacing: 0.045em;
      text-align: center;
      color: rgba(255, 246, 216, 1);
      margin-bottom: 25px;
    }

    .link {
      font-size: 25px;
      padding: 10px 100px;
    }


  }
}


.celebrate__section {
  .title {
    font-size: 55px;
    line-height: 55px;

  }
}


// book start -------------
.book__section {

  .write__info_box {
    flex-direction: column;
    align-items: center;


    .arrival__visitors__box {
      width: 100%;
      z-index: 120;
    }
  }


  .partial__pay_box {
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
    justify-content: center;

    .partial__pay_button {
      width: 50%;
    }

    .partial__pay_range {
      width: 50%;
    }

    .currency__dropdown {
      margin-top: 20px;
    }
  }
}

// book end ---------------

.book__confirm_section {
  .title__box {
    h1 {
      font-size: 45px;
      padding: 10px;
    }
  }
}


