// SERVICES
#services {

  .serviceBlock {
    padding: 40px 0;
  }

  .serviceMain {
    margin-top: 70px;

    .slide{
      display: flex ;
      justify-content: center;
    }
  }

  .servicesCard {
    width: calc(100% / 2 - 25px);
  }

  .arrow{
    font-size: 60px !important;
  }
}


//FOODS
#food{
  padding: 30px 20px;

  .foodContent{
    margin: 30px 0 0;
  }
}


// FOOTER
#footer{
  .navbar{
    margin: 40px 0;

    ul{
      flex-direction: column;
      align-items: center;

      li{
        margin: 5px 0;
      }
    }
  }

  .nav .nav_block:nth-child(1){
    width: 100%;
    justify-content: space-evenly;
  }
}
