.celebrate__mobile_box {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  .slider__container {
    width: 100%;
    height: 100vh;
    cursor: pointer;
  }


  .slider__img {
    width: 100%;
    height: 70vh;

    object-fit: cover;
    border-radius: 20px;
  }
}
