.form__input_box {
  width: 100%;
  background-color: var(--book-input-bg);
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid var(--book-input-border-color);
  position: relative;

  p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--book-input-error-text-color);
    position: absolute;
    top: 70%;
    left: 3%;

  }

  &.error {
    border: 1px solid var(--book-error-border-color);
    background-color: var(--book-input-error-bg);
  }

  input {
    width: 90%;
    height: 70%;
    margin-left: 10px;
    border: none;
    outline: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--book-input-color);
    background-color: inherit;


    &::placeholder {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 400;
      color: var(--book-input-placeHolder-color);

    }
  }
}
