
.lang_dropdown {
  cursor: pointer;
  width: 90px;
  display: flex;
  height: 35px;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
  z-index: 15;

  .polygon {
    transform: scaleY(1);
    transition: all 0.4s;
  }

  .box__container {
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.4s;
    width: 100%;
    height: 35px;
    border: 2px solid rgba(0, 0, 255, 0);
    border-radius: 10px;
    z-index: -5;
    background-color: var(--change-mod-bg-color);
  }

  .lang path {
    fill: var(--change-mod-color);
  }

  &.open {
    .box__container {
      height: 100px;
      z-index: 5;
      border: 2px solid black;
    }

    .polygon {
      transform: scaleY(-1);
    }

    .langs {
      visibility: visible;
      opacity: 1;
    }
  }

  .langs {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .lang {
      margin: 5px 0;
      display: flex;
      padding: 0 3px;

      span {
        color: var(--change-mod-color);
        margin-left: 8px;
      }
    }
  }
}

.polygon {
  path {
    fill: var(--change-mod-color);
  }
}

.lang__container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  span {
    color: var(--change-mod-color);
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
