
.header {
  padding: 15px 20px;
  width: 100%;
  background-color: var(--header-bg-color);
  box-shadow: 0 4px 30px 0 #64646440;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
