.arrival__container {
  width: 40%;
  height: 70px;
  display: flex;
  flex-direction: column;
  border: 0.5px solid var(--home-slider-booking-select-border-color);
  transition: all 0.4s;
  margin-left: 0.5px;
  box-shadow: 0 24px 30px 0 var(--home-slider-booking-select-boxShdow);
  overflow: hidden;
  position: relative;

  &.error {
    border: 1px solid #fd6e6e;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: var(--home-slider-booking-select-line-color);

  }

  &-exit,
  &-enter-done {
    .closed__bar_btn {
      transform: rotate(180deg);
    }
  }

  &-enter {
    border-radius: 0 0 10px 10px;
    height: 70px;


    .closed__bar_name {

      p {
        color: var(--home-slider-booking-select-closed-color)
      }
    }

    svg path {
      fill: var(--home-slider-booking-select-closed-color)
    }
  }

  &-enter-active {
    border-radius: 0 0 10px 10px;
    height: 350px;
    background-color: var(--home-slider-booking-select-opened-bg);
    transition: height 0.4s, opacity 0.4s;

    .closed__bar {
      background-color: var(--home-slider-booking-select-opened-bg) !important;

      .closed__bar_name {

        p {
          color: var(--home-slider-booking-select-closed-color)
        }
      }

      svg path {
        fill: var(--home-slider-booking-select-closed-color)
      }
    }
  }

  &-exit {
    height: 350px;
    border-radius: 0 0 10px 10px;
    background-color: var(--home-slider-booking-select-opened-bg);

    .closed__bar {

      background-color: var(--home-slider-booking-select-opened-bg) !important;

      .closed__bar_name {

        p {
          color: var(--home-slider-booking-select-closed-color)
        }
      }

      svg path {
        fill: var(--home-slider-booking-select-closed-color)
      }
    }
  }

  &-exit-active {
    border-radius: 0 0 10px 10px;
    height: 70px;
    transition: height 0.4s, opacity 0.4s;
    background-color: var(--home-slider-booking-select-opened-bg);

    .closed__bar {
      background-color: var(--home-slider-booking-select-opened-bg) !important;

      .closed__bar_name {

        p {
          color: var(--home-slider-booking-select-closed-color)
        }
      }

      svg path {
        fill: var(--home-slider-booking-select-closed-color)
      }
    }
  }

  &-enter-done {
    height: 350px;
    border-radius: 0 0 10px 10px;
    background-color: var(--home-slider-booking-select-opened-bg);

    .closed__bar {
      background-color: var(--home-slider-booking-select-opened-bg) !important;

      .closed__bar_name {

        p {
          color: var(--home-slider-booking-select-closed-color)
        }
      }


      svg path {
        fill: var(--home-slider-booking-select-closed-color)
      }
    }

    .closed__bar_btn {
      transform: rotate(180deg);
    }
  }
}

.closed__bar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--home-slider-booking-select-closed-bg);

  padding: 0 10px;
}

.closed__bar_name {
  display: flex;
  align-items: center;

  p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--home-slider-booking-select-closed-title-color);
    margin-left: 5px;
  }
}


.closed__bar_btn {
  width: 10%;
  height: 100%;
  background-color: initial;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;

  svg {
    width: 12px;
    height: 12px;

    path {
      fill: white;
    }
  }
}


.opened__bar {
  width: 100%;
  height: 300px;
  transition: all 0.4s;
  padding-bottom: 15px;
  background-color: var(--home-slider-booking-select-opened-bg);
  box-shadow: 0 24px 30px 0 rgba(143, 143, 143, 0.25);

}
