.book_button {
  width: auto;
  padding: 0 25px;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  color: var(--home-slider-send-button-color);
  border: none;
  font-weight: 400;
  background: var(--home-slider-send-button-bg);
  border-radius: 0 10px 10px 0;
  transition: all 0.4s;


}
