.visitors__container {
  width: 40%;
  height: 70px;
  background-color: var(--home-slider-booking-select-closed-bg);
  position: relative;
  display: flex;
  transition: all 0.4s;
  flex-wrap: wrap;
  border: 0.5px solid var(--home-slider-booking-select-border-color);
  border-radius: 10px 0 0 10px;
  padding: 0 0 0 10px;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: 0 24px 30px 0 var(--home-slider-booking-select-boxShdow);
  z-index: 100;

  &.error {
    border: 1px solid #fd6e6e;
  }

  &-enter,
  &-enter-active {
    //transition: all 0.4s;
    height: 140px;
    opacity: 1;
    border-radius: 10px 0 10px 10px;
    background-color: var(--home-slider-booking-select-opened-bg) !important;

    .banner__container .button svg path,
    .banner__container .title__part svg path {
      fill: var(--home-slider-booking-select-closed-color);
    }

    .banner__container .title__part p {
      color: var(--home-slider-booking-select-closed-color);
    }

  }

  &-exit,
  &-enter-done {
    height: 140px;
    border-radius: 10px 0 10px 10px;
    background-color: var(--home-slider-booking-select-opened-bg) !important;

    .button {
      transform: rotate(180deg);
    }

    .banner__container .button svg path,
    .banner__container .title__part svg path {
      fill: var(--home-slider-booking-select-closed-color);
    }

    .banner__container .title__part p {
      color: var(--home-slider-booking-select-closed-color);
    }

  }

  &-exit-active {
    height: 70px;
    transition: all 0.4s, background-color 0.8s;
    border-radius: 10px 0 0 10px;
    background-color: rgba(255, 255, 255, 0);

    .banner__container .button svg path,
    .banner__container .title__part svg path {
      fill: var(--home-slider-booking-select-closed-color);
    }

    .banner__container .title__part p {
      color: var(--home-slider-booking-select-closed-color);
    }
  }
}

.banner__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;

  .button {
    width: 10%;
    height: 100%;
    background-color: inherit;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;

    svg {
      width: 12px;
      height: 12px;

      path {
        fill: white;
      }
    }
  }

  .title__part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    p {
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: var(--home-slider-booking-select-closed-title-color);
      margin-left: 5px;
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--home-slider-booking-select-line-color);

}

.menu__bar {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;


  .change__visitor_box {
    display: flex;
    width: 90%;
    justify-content: space-around;
  }

  .change__visitor_btn {
    background-color: var(--home-slider-booking-select-change-count-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 23px;
    border: 1px solid var(--home-slider-booking-select-change-count-border-color);


    &:hover {
      background-color: black;
      color: white;
    }
  }

  .previous__visotor {
    box-shadow: 0px 4px 20px 0px var(--home-slider-booking-select-change-previus-box-shadow) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--home-slider-booking-select-change-previus-bg);

    p {
      font-family: Roboto;
      font-size: 23px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.025em;
      text-align: left;
      color: var(--home-slider-booking-select-change-previus-color);
    }
  }
}
